<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobileapp">
        <activity android:name=".Recycler_view_activities"/>
        <activity android:name=".topic_page" />
        <activity android:name=".AddActivities" />
        <activity android:name=".SellPage" />
        <activity android:name=".WebBooksRecycler" />
        <activity android:name=".ProgBooksRecykler" />
        <activity android:name=".NetBooksRecycler" />
        <activity android:name=".GraphBooksRecycler" />
        <activity android:name=".DbaseBooksRecycler" />
        <activity android:name=".CloudBooksRecycler" />
        <activity android:name=".AllBooksRecycler" />
        <activity android:name=".BookRegister" />
        <activity android:name=".BookPage" />
        <activity android:name=".SearchResult" />
        <activity android:name=".Library" />
        <activity android:name=".Forum" />
        <activity android:name=".SellBooks" />
        <activity android:name=".ActivitiesDetails" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Register" />
        <activity android:name=".Create_Topic" />
        <activity android:name=".moodle_login" />
        <activity android:name=".WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".FloorMap" />
        <activity android:name=".Timetables" />
    </application>

</manifest>